* {
    margin: 0;
    padding: 0;
}
.conteiner {
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    font-family: sans-serif;
    
}
a {
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: end;
}
.john-1 {
    display: flex;
}


.header a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;

}
.john h1 {
    color: var(--Dark-Color, #21243D);
font-size: 44px;
font-weight: 700;
line-height: 136.364%; /*  */
}
.john  p{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.john button {
    border-radius: 2px;
background: var(--Primary, #FF6464);color: #FFF;
font-size: 20px;
font-weight: 500;
padding: 10px 10px;
}
button {
    border: none;
}
.john p {
    margin: 25px 0 ;
}
.john {
    margin-top: 150px;
}
#john img {
    margin-left: 100px;
    margin-top: 100px;
}
#recent {
    background: #EDF7FA;
}
.block-1 {
    display: flex;
    margin: 0px 0;
}
#recent {
    margin-top: 100px;
}
.recent h3 {
   margin: 0 45px;
   color: var(--Dark-Color, #21243D);
   font-size: 22px;
   font-weight: 400;
   line-height: 272.727%; /*  */
  
}
.recent h3 span {
    color: var(--Secondry, #00A8CC);
font-size: 16px;
font-weight: 400;
margin-left: 720px;
}
.block h2 {
    color: var(--Dark-Color, #21243D);
 font-size: 26px;
font-weight: 700;
}
.block p {
    color: var(--Dark-Color, #21243D);
font-size: 18px;
font-weight: 400;
}
.block {
    margin: 0 20px 30px 0  ;
}
.recent {
    margin-top: 100px;
}
.p-1 {
    margin: 20px 0;
}
#section {
    background: #1c2325;
}
.block {
    border-radius: 4px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
padding: 30px;
}
.recent h5 {
    color: var(--Secondry, #00A8CC);
font-size: 16px;
font-weight: 400;
}
.works {
    display: flex;
}
.blocktext button {
    border-radius: 16px;
background: #142850;color: #FFF;
font-size: 18px;
padding: 3px;
font-weight: 700;
}
.fgh {
    display:flex ;
}
.fgh p {
    color: var(--Light, #8695A4);
font-size: 20px;
font-weight: 400;
}
.fgh {
    margin: 10px;
}
.fgh button {
    margin:  0  18px 0 0 ;
}
.blocktext {
    margin:  25px  ;
}
#works h4 {
    color: var(--Dark-Color, #21243D);
font-size: 22px;
font-weight: 400;
line-height: 272.727%; /*  */
margin-left: 30px;
}
.block-1 {
    margin: 30px;
}
#footer {
    stroke-width: 10px;
stroke: var(--Gray-5, #E0E0E0);
}
#john {
    stroke-width: 1px;
stroke: var(--Gray-5, #E0E0E0);
}
#footer {
    margin-top: 80px;
}
.bottom-line {
    position: relative;
  }
  
  .bottom-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--Gray-5, #E0E0E0); 
  }
   
    
  
  